{% extends 'base.html.twig' %}

{% block title %}Dolphin - Admin{% endblock %}

{% block body %}
  
  <div>
    <h1>Compte de {{ user.username }}</h1>
    <div>
      <h3>Action sur le compte</h3>
      <a href="#!" class="btn btn-success">Re-activer le compte</a>
      <a href="#!" class="btn btn-danger">Cloturer le compte</a>
    </div>
    
    <div>
      <div>
        <h3>Informations complémentaires sur l'utilisateur</h3>
        <p>Nom d'utilisateur : {{ user.username }}</p>
        <p>Prénom : {{ user.firstname }}</p>
        <p>Nom : {{ user.lastname }}</p>
        <p>Addresse : {{ user.address }} {{ user.zipcode }} {{ user.city }}</p>
        <p>Date de création de compte : {{ user.createdAt | date }}</p>
      </div>
  
      <div>
        <h3>Tickets de l'utilisateur</h3>
        <div class="d-flex">
          {% for ticket in tickets %}
            <div class="card mx-lg-2" style="width: 18rem;">
              <div class="card-body">
                {% if ticket.isEnable == FALSE %}
                  <p class="card-title btn btn-info">Ticket cloturé</p>
                {% else %}
                  <p class="card-title btn btn-info">Ticket ouvert</p>
                {% endif %}
                <p class="card-text">{{ ticket.title }}</p>
                <p class="card-text">{{ ticket.description }}}</p>
                <div class="d-flex p-2 justify-content-between align-items-center">
                  <p class="card-text">{{ ticket.createdAt | date("m/d/Y", "Europe/Paris") }}</p>
                  <div class="d-flex p-2 justify-content-between">
                    <p class="card-text">{{ ticket.author.lastname }}</p>
                    <p class="card-text">{{ ticket.author.firstname }}</p>
                  </div>
                </div>
                <div class="d-flex justify-content-between">
                  {% if ticket.isEnable == TRUE %}
                    <a href="{{ path('ticket_show', { ticketId: ticket.id }) }}" class="btn btn-success">Voir le ticket</a>
                  {% endif %}
                  {% if ticket.author == app.user %}
                    {% if ticket.isEnable == TRUE %}
                      <a href="{{ path('user-account_close-ticket', {ticketId: ticket.id}) }}" class="btn btn-danger">Cloturer</a>
                    {% endif %}
                  {% endif %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
