<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
</head>
<body>
{% if app.user %}
    {% if app.user.roles == ['ROLE_USER', 'ROLE_ADMIN'] %}
    <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('admin-account_home') }}">Dolphin</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/></svg>
                </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ path('user-account_home') }}">Mes tickets</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Tickets par catégorie
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% for category in categories %}
                                    <li>
                                        <a href="{{ path('ticket_filterByCategory', {categorySlug: category.slug}) }}" class="dropdown-item"> {{ category.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ path('user-account_settings') }}">Settings</a>
                        </li>
                        <li class="nav-item mx-lg-2">
                            <a class="btn btn-outline-primary mx-md-3 my-md-0 my-2" aria-current="page" href="{{ path('admin-account_create-category') }}">Créer une catégorie</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-primary my-md-0 my-3" aria-current="page" href="{{ path('user-account_create-ticket') }}">Créer un ticket</a>
                        </li>
                    </ul>
                    <div class="d-flex flex-column d-md-flex flex-md-row align-items-md-center">
                        <span class="mx-md-3 my-md-0 my-2">{{ app.user.userIdentifier }}</span>
                        <a href="{{ path('authentication_logout') }}" class="btn btn-danger rounded-1 me-auto my-md-0 my-1">Se déconnecter</a>
                    </div>
                </div>
            </div>
    </nav>
    {% else %}
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('user-account_home') }}">Dolphin</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/></svg>
                </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ path('user-account_home') }}">Mes tickets</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Tickets par catégorie
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% for category in categories %}
                                    <li>
                                        <a href="{{ path('ticket_filterByCategory', {categorySlug: category.slug}) }}" class="dropdown-item"> {{ category.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ path('user-account_settings') }}">Settings</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-primary" aria-current="page" href="{{ path('user-account_create-ticket') }}">Créer un ticket</a>
                        </li>
                    </ul>
                    <div class="d-flex flex-column d-md-flex flex-md-row align-items-md-center">
                        <span class="mx-md-3 my-md-0 my-2">{{ app.user.userIdentifier }}</span>
                        <a href="{{ path('authentication_logout') }}" class="btn btn-danger rounded-1 me-auto my-md-0 my-1">Se déconnecter</a>
                    </div>
                </div>
            </div>
        </nav>
    {% endif %}
{% else %}
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('home') }}">Dolphin</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/></svg>
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Tickets par catégorie
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for category in categories %}
                                <li>
                                    <a href="{{ path('ticket_filterByCategory', {categorySlug: category.slug}) }}" class="dropdown-item"> {{ category.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
                <div class="d-flex flex-column d-md-flex flex-md-row align-items-md-center">
                    <a href="{{ path('authentication_register') }}" class="btn btn-outline-primary rounded-1 mx-0 mx-md-2 my-2 my-md-0">S'inscrire</a>
                    <a href="{{ path('authentication_login') }}" class="btn btn-primary rounded-1 mx-0 mx-md-0 my-2 my-md-0">Se connecter</a>
                </div>
            </div>
        </div>
    </nav>
{% endif %}
{% block body %}{% endblock %}
{% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
</body>
</html>
